{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ parent() }} | Ajouter une performance{% endblock %}
{% block body %}
    <h1 class="text-center mt-4">Ajouter une performance</h1>
    <div class="new container ">
        {{ include('admin/performance/_form.html.twig') }}
        <div class="row mx-0">
            <a class="back text-decoration-none btn rounded-pill my-4 px-3 py-1"
               href="{{ path('admin_performance_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
