<h1 style="text-align: center; color: #A4161A; margin-bottom: 70px;">Bienvenue dans le Wild Circus !</h1>

<p>
    Veuillez confirmer votre inscription et votre email en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}" style="text-decoration: none; color: #B1A7A6;">Confirmer mon adresse email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }} heure(s).
</p>

<p>
    Merci !
</p>
