@import 'variable.scss';

h1 {
  text-shadow: none;
  padding-top: $spacing4;
  margin-bottom: $spacing3;
}

.navbar {
  opacity: 1;
}

.button-list {
  a, form {
    margin: $spacing2;
  }
}

.back {
  color: $light;
  background-color: $dark;
  box-shadow: 0 1px 0.25rem darken($secondary, 50%);

  &:hover {
    color: $light;
    background-color: lighten($dark, 30%);
    box-shadow: 0 1px 0.5rem darken($secondary, 10%);
  }
}

.save {
  background-color: $primary;
  box-shadow: 0 2px 0.5rem lighten($dark, 5%);

  &:hover {
    background-color: lighten($primary, 10%);
    box-shadow: 0 0 1rem lighten($primary, 10%);
  }
}

form {
  label {
    font-weight: bold;
  }
}

.delete {
  svg {
    color: $primary;
  }
}

.action {
  svg {
    color: $dark;
  }
}

img, .logo {
  max-height: 425px;
}