@import 'variable.scss';
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $text-font;
    font-weight: 300;
    font-size: $text-font-size;
    color: $dark;
    background-color: $light;
    margin-top: $navbar-height;
    line-height: 200%;
}

.navbar {
    min-height: $navbar-height;
    font-family: $title-font;
    opacity: 0.9;

    .site-title {
        font-size: 1.8rem;
    }

    .logo {
        height: $navbar-logo-height;
    }

    li {
        font-size: $navbar-font-size;
    }

    .dropdown-toggle::after {
        margin-bottom: -6px;
    }

    .dropdown-item {
        color: $light;

        &:hover {
            color: $dark;
        }
    }
}

.button-primary {
    font-weight: 700;
    color: $light;
    background-color: $primary;
    box-shadow: 0 1px 0.25rem darken($secondary, 50%);

    &:hover {
        color: $light;
        background-color: lighten($primary, 3%);
        box-shadow: 0 1px 0.5rem darken($primary, 10%);
    }
}

h1, h2, h3 {
    font-family: $title-font;
    font-weight: 700;
    color: $primary;
}

h4, h5, h6 {
    font-family: $title-font;
    color: $primary;
}

h1 {
    font-size: $h1-font-size;
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px $dark, -1px -1px $dark;
}

@media screen and (max-width: 575px) {
    h1 {
        font-size: $h1-font-size-responsive;
    }
}

h2 {
    font-size: $h2-font-size;
    margin: $spacing4 0;
}

h3 {
    font-size: $h3-font-size;
}

section {
    padding: $spacing4 0;
}

.header {
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: $header-height;
}

.footer {
    svg {
        color: $secondary;
    }
}