@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Kaushan+Script&family=Roboto&display=swap');

$title-font-light: 'Handlee', cursive;
$title-font: 'Kaushan Script', cursive;
$text-font: 'Roboto', sans-serif;
$primary: #A4161A;
$primary-dark: #660708;
$secondary: #B1A7A6;
$light: #FAF9FA;
$dark: #0b090a;
$text-font-size: 1rem;
$h1-font-size: 4rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.2rem;
$spacing: 8px;
$spacing2: $spacing * 2;
$spacing3: $spacing * 4;
$spacing4: $spacing * 8;
