{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('school') }}
{% endblock %}

{% block body %}
    <div class="header mt-0 d-flex align-items-center justify-content-center">
        <h1 class="text-center text-light pt-0">École de cirque</h1>
    </div>
    <main class="container">
        <h2 class="text-center">Venez vous initier à l'art du cirque</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit diam sem, eu mattis ante
            mattis ut.
            Ut consectetur placerat risus, et consectetur nisl. Sed a scelerisque orci, vel mollis odio. Sed
            vitae tempus neque.
            Morbi vitae fringilla nunc. Nunc sit amet pretium magna. Nullam non ipsum diam. Vestibulum fringilla
            risus nec tempor facilisis.
            Sed elementum magna eget purus tincidunt, consequat ornare leo facilisis. Donec nibh erat, sagittis
            id ligula blandit,
            ullamcorper egestas risus. Etiam tincidunt nunc elit, quis scelerisque nisl luctus ac. Donec non
            porta sem, vel iaculis enim.
            Donec ultricies urna ac quam pellentesque efficitur. In interdum dignissim mauris sed ornare. Donec
            aliquam, felis ac lobortis consectetur,
            ligula mi luctus felis, commodo placerat dui erat eu nisl.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit diam sem, eu mattis ante
            mattis ut.
            Ut consectetur placerat risus, et consectetur nisl. Sed a scelerisque orci, vel mollis odio. Sed
            vitae tempus neque.
            Morbi vitae fringilla nunc. Nunc sit amet pretium magna. Nullam non ipsum diam. Vestibulum fringilla
            risus nec tempor facilisis.
            Sed elementum magna eget purus tincidunt, consequat ornare leo facilisis. Donec nibh erat, sagittis
            id ligula blandit,
            ullamcorper egestas risus. Etiam tincidunt nunc elit, quis scelerisque nisl luctus ac. Donec non
            porta sem, vel iaculis enim.
            Donec ultricies urna ac quam pellentesque efficitur. In interdum dignissim mauris sed ornare. Donec
            aliquam, felis ac lobortis consectetur,
            ligula mi luctus felis, commodo placerat dui erat eu nisl.</p>
        <section>
            <div class="d-flex justify-content-center py-2 text-center">
                <a href="{{ path('app_login') }}"
                   class="button-primary text-decoration-none btn-lg rounded-pill my-4 px-5 py-3">
                    Connectez-vous pour vous inscrire
                </a>
            </div>
        </section>
    </main>
{% endblock %}